body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

form .form-group input[type="text"],
form .form-group select {
    width: 300px;
}

.display-none {
    display: none;
}

label.error {
    color: darkred;
}